[DataStandardisation]
workflow = NBAR
vertices = (3, 3)
modtran_exe = mod6c_cons
srtm_pathname = /g/data/v10/eoancillarydata-2/elevation/tc_aus_3sec/dsm1sv1_0_Clean.h5:/SRTM/GA-DSM
cop_pathname = /g/data/u46/users/ia1511/Work/projects/copernicus-dem-30m/copernicus-dem-30m-compressed.tif
tle_path = /g/data/v10/eoancillarydata-2/sensor-specific
aerosol = {"pathname": "/g/data/v10/eoancillarydata-2/aerosol/AATSR/2.0/aerosol.h5"}
brdf = {"brdf_path": "/g/data/v10/eoancillarydata-2/BRDF/MCD43A1.061", "brdf_fallback_path": "/g/data/v10/eoancillarydata-2/BRDF_FALLBACK/MCD43A1.006", "ocean_mask_path": "/g/data/v10/eoancillarydata-2/ocean_mask/base_oz_tile_set_water_mask_geotif.tif", "extended_ocean_mask_path": "/g/data/v10/eoancillarydata-2/ocean_mask/copernicus-wbm-modis-grid-min.tif" , "viirs_i_path": "/g/data/v10/eoancillarydata-2/BRDF/VNP43IA1.001", "viirs_m_path": "/g/data/v10/eoancillarydata-2/BRDF/VNP43MA1.001"}
ozone_path = /g/data/v10/eoancillarydata-2/lookup_tables/ozone/ozone.h5
water_vapour = {"pathname": "/g/data/v10/eoancillarydata-2/water_vapour", "fallback_dataset": "/g/data/v10/eoancillarydata-2/water_vapour/pr_wtr.eatm.average.h5"}
dem_path = /g/data/v10/eoancillarydata-2/elevation/world_1deg/DEM_one_deg_20June2019.h5:/SRTM/GA-DSM
ecmwf_path = /g/data2/v10/eoancillarydata-2/mars/daily-data
invariant_height_fname = /g/data/v10/eoancillarydata-2/mars/daily-data/invariant/geo-potential-dem.tif
compression = BITSHUFFLE
h5_driver =

[Package]
yamls_dir =
cleanup = true
cloud_buffer_distance = 0
cloud_shadow_buffer_distance = 0
products = ${ard_product_array}
stac_base_url = s3://dea-public-data/baseline/
explorer_base_url = https://explorer-aws.dea.ga.gov.au/

[ARDP]
# root destination on S3
url_root = http://dea-public-data.s3-ap-southeast-2.amazonaws.com/ARD-Sample-Products/Beta

[GQATask]
output_yaml = {granule}.gqa.yaml
cleanup = 0
correlation_coefficient = 0.75
iterations = 1
standard_deviations = 1

[GverifyTask]
executable = /g/data/v10/projects/geo_assess/tool/image-gverify_v0.25c
ld_library_path = /g/data/v10/projects/geo_assess/tool/lib_v0.25:/g/data/v10/projects/PinkMatter/ExtraLibs/Jasper
gdal_data = /g/data/v10/projects/geo_assess/tool/lib_v0.25/gdal_data
pyramid_levels = 5
geotiff_csv = /g/data/v10/projects/geo_assess/tool/lib_v0.25/epsg_csv
# formats = image-gverify.res,image-gverify.log,image-gverify_base.jpeg,image-gverify_result.jpeg
thread_count = 4
null_value = 0
chip_size = 25
grid_size = 50
root_fix_qa_location = /g/data/v10/eoancillarydata-2/GCP/Fix_QA_points
timeout = 300
landsat_scenes_shapefile = /g/data/v10/eoancillarydata-2/wrs2-descending/wrs2_descending.shp
ocean_tile_list = {"Landsat": "/g/data/v10/eoancillarydata-2/ocean_tiles/ocean_list.csv", "Sentinel-2": "/g/data/v10/eoancillarydata-2/ocean_tiles/S2_ocean_tile.csv"}
reference_directory = /g/data/v10/eoancillarydata-2/GCP/GQA_v3/wrs2
backup_reference_directory = /g/data/v10/eoancillarydata-2/GCP/GLS2000_GCP_SCENE/wrs2

[core]
rpc_connect_timeout = 60.0
rpc_retry_attempts = 10
rpc_retry_wait = 60
logging_conf_file = ${package_dest}/etc/luigi-logging.cfg
# max-reschedules = 1

[scheduler]
record_task_history = true
state_path = luigi-state.pkl
disable_hard_timeout = 600
worker_disconnect_delay = 1800

[task_history]
db_connection = sqlite:///luigi-task-hist.db
